/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Debut de mon code */
body {
    overflow-x: hidden;
}

main {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #663300;


}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem 21rem;
}

input {
    border-radius: 2rem;
    border: none;

    -webkit-box-shadow: inset 2px 2px 8px #ccc;

}


.search-box {
    display: flex;
    justify-content: space-around;
}

.search-box img {
    padding-left: 1rem;

}

.navbar-inner {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background: linear-gradient(180deg, #f2f2f2 50%, #e6e6e6 50%);

}



.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    padding: 0 0.5rem;
}

.menu:hover {
    cursor: pointer;
    background-color: #7f8a99;
    height: 3rem;
    display: flex;
    align-items: center;
    color: #ffffff;

}

.banner {
    width: 100%;
}

.carrousel ul {

    position: static;
    z-index: 1;
}

.carrousel ul:hover {
    cursor: pointer;
}

.carrousel .choco {
    display: flex;

}

.choco {
    width: 100%;
    display: flex;
    background-color: #e6e6e6;
    justify-content: center;
    margin-top: -5rem;
    z-index: 3;



}

.choco ul {
    display: flex;



}

.choc {

    align-items: center;
    width: 18.2rem;
    height: 5rem;
    padding: 1rem;
    border: none;
    background-color: #f2f2f2;
    color: #663300;

}

.choc:hover {
    background: transparent;
    cursor: pointer;
    color: #ffffff;


}

.title {
    padding-top: 3rem;
    text-align: center;
    font-size: 2rem;
}


hr {
    width: 72rem;
    text-decoration: line-through;
    color: #6b4b2c;
}

.info {
    display: flex;
    justify-content: center;

}


.div1,
.div2,
.div3 {
    width: 21rem;
    height: 300px;
    border: 0.5px solid #e6e6e6;
    margin: 1.6rem 0.7rem;
    padding: 1rem;
    color: #666666;
    font-size: 1rem;




}

.div1,
.div2 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    line-height: 1.5rem;
}

.div3 {

    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    line-height: 1.5rem;

}

.arrow_article {
    text-align: right;
    color: #663300;
    font-weight: bold;
    cursor: pointer;
}

.or {
    color: #cc9900;
    font-weight: bold;
}

span {
    font-weight: bold;



}

span:hover {
    cursor: pointer;
}

.grey {
    background-color: #e6e6e6;
    height: 115rem;
    width: 100%;
}

.carrousel2 {
    background-image: url(image/main-frut.jpg);
    margin-top: 5rem;
    height: 30rem;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    line-height: 3rem;

}

.responsability {
    font-size: 2.5rem;
    font-weight: bold;


}

.rapport {
    text-align: center;
}

.value {
    text-align: center;
    font-size: 1.5rem;
}

.carre {
    display: flex;
    padding-top: 2.5rem;
    justify-content: center;
}

.button2 {
    background-color: #e6e6e6;
    font-weight: bold;
    font-size: 1rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    width: 16rem;
    align-items: center;
    border: none;


}

.button2:hover {
    cursor: pointer;
    background-color: #e6e6e6;
    color: #508eba;
    border: none;
}

.photo1-2 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.label {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 4rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: -1rem;
    padding: 0 0 0 2rem;


}

.history {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 13rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.label1 {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 4rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: -0.8rem;
    padding: 0 0 0 2rem;

}

.contact {
    background-image: url(/image/bkg-contatta-ferrero.jpg);
    width: 100%;
    height: 90rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form {

    font-family: Arial, Helvetica, sans-serif;
    gap: 2rem;
    margin: 2rem 20rem;
    text-align: center;
    line-height: 2rem;
    color: #000000;
    font-size: 1.2rem;
    text-align: center;

}

.contact_adress {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
}

.ferrero_form {
    background-color: #ffffff;
    width: 73rem;
}

.ferrero_form ul {
    display: flex;

}

.button {
    flex-direction: column;
}

.page1,
.page2,
.page3 {
    border: none;
    font-size: 1.3rem;
    width: 24.35rem;
    height: 3rem;
    color: #663300;
    cursor: pointer;

}

.page1 {
    background-color: #ffffff;
}

.page2,
.page3 {
    color: #9999a1;
}

.page2:hover,
.page3:hover {
    color: #333333;
    background-color: #cccccc;
}

.page2:active,
.page3:active {
    color: #663300;
    background-color: #ffffff;
}

.quali {
    display: flex;
    line-height: 2rem;
    color: #000000;

}

.second {
    margin: 3.2rem;


}

.choco_quality {
    margin-top: 5.2rem;
    font-size: 1.5rem;

}

.reclam {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.formul {
    margin-top: 8rem;
    background-color: #663300;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1rem;
    width: 14rem;
    height: 3rem;
    cursor: pointer;
    border: none;
}

.space_line {
    margin-top: 6rem;

}

footer {
    background-color: #6b4b2c;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f2f2f2;
    margin-top: 10rem;

}


.href {
    display: flex;
    padding-left: 70rem;
    height: 10rem;
    line-height: 1.5rem;
    align-content: center;
    width: 100%;
    margin: 0.5rem 2rem;
    padding-top: 5rem;



}

.href a {
    color: #f2f2f2;
    text-decoration: none;



}

.ref1,
.ref2,
.ref3 {

    font-size: 0.7rem;
    padding: 1rem;
    align-content: center;
    flex-direction: column;

}

.vertical_line {
    border-left: 1px solid #e6e6e6;
    height: 9rem;
    display: flex;


}

.ref1 {
    display: flex;
    margin-left: -12rem;




}

.ref2 {
    display: flex;
    flex-direction: column;
    width: 23rem;


}

.ref_ref3 {
    font-size: 0.6rem;
}

.block_ref {
    margin-right: 12rem;
}

.sport {
    display: flex;
    justify-content: center;
    color: #a3a3a3;
    font-size: 0.6rem;
}

/* Essai de responsive 

@media screen (max-width: 710px) {
    body {
        list-style-type: none;
    }

    .logo {
       
    
    display: block;
    height: 1rem;
    align-items: center;
    background-color: white;
    padding: 1rem 21rem;

    }

    input {
        width: 10rem;
        border-radius: 2rem;
        border: none;
        box-shadow: #7f8a99;
        -webkit-box-shadow: inset 2px 2px 8px #ccc;
    }
    .loupe {
        display: block;
    }
    .search-box {
        display: block;

        
    }

    .search-box img {
        padding-left: 1rem;
        width: 30rem;


        }
        ul {
            list-style: none;
        }
        .menu {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.5rem;
            padding: 0 0.5rem;
    }

    banner {
    width: 30%;
    }

    .carrousel2 {
    background-image: url(image/main-frut.jpg);
    margin-top: 5rem;
    height: 30rem;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    line-height: 2rem;
    width: 30%;

    }

    .div1,
    .div2 {

    width: 21rem;
    height: 300px;
    border: 0.5px solid #e6e6e6;
    display: block;
    color: #666666;
    font-size: 1rem;
    }

    .history {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 13rem;
    font-weight: bold;
    font-size: 1.5rem;
    width: 50%;
    }
    li {
        list-style-type: none;
    }
    .choc {
        border: 1px solid #000000;
        align-items: center;
        width: 18.2rem;
        height: 5rem;
        padding: 1rem;
        border: none;
        background-color: #f2f2f2;
        color: #663300;
    }
    .href {
        display: block;
    }
}

*/